<p id="notice"><%= notice %></p>

  <h3>Foster Agreement</h3>
<p>
  <strong>Pet:</strong>
  <%= @foster_pet.pet.name %><br>
  <%= image_tag(@foster_pet.pet.image_url) %>
  </p>

<p>
  You agree to provide a good foster home for this animal, until s/he is permenantly adopted.

</p>

<%= button_to "Cancel", adopt_url, method: :get %>
