<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= (Pet.find @pet_item.pet_id).name %>
</p>

<%= link_to 'Edit', edit_pet_item_path(@pet_item) %> |
<%= link_to 'Back', pet_items_path %>
