		<form method='POST' action='/list'>
			<select name='sort'>
			<% for option in options %>
				<option><%= option %></option>
			<% end %>
			</select>
			<button type='submit'>Display List</button>
		</form>
