<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="list.css" >
	</head>
	<body>
		<h1>Top 50 Best-Selling Books of All Time</h1>
		<footer>Brought to you by: footer</footer>
	</body>
</html>
