// Place all the styles related to the PetLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lists, #side #list {
  .total_line {
    text-align: left;
  }

  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #777;
  }
}
